body {
    background-color: #2196f3;
    min-height: 1000px;
   
    background: url(fondo.png), #2196f3;
    background: url(fondo.png),
      -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
    background: url(fondo.png),
      linear-gradient(to left, #2196f3, #009688);
  }
  
  